{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "globals": {
    "chrome": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "plugins": ["jquery", "babel", "prettier"]
}
