#pluswrap {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  top: 0;
  background: rgba(0,0,0,0.8);
  color: white;
  font-size: 3em;
}

.plus {
  margin: auto;
}

.hidden {
  display: none !important;
}

.message-top {
  padding: 20px;
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
  background-color: #000; /* Red */
  color: white;
  p {
    margin: 0;
  }
  &.alert {
    background-color: red; /* Red */
  }
  &.progress {
    background-color: blue; /* Red */
  }
  &.success {
    background-color: green; /* Red */
  }


}

.rfnd-contribute-project {
  .amount {
    font-size: 2em;
  }
}
